---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  height: 100%;
  font-size: 100%;
}

body {
  height: 100%;
  background: #111;
  font: 18px/1.4 $helvetica;
  color: #ddd;
}

.main-container {
  margin: 0px auto 65px;
  max-width: 970px!important;
  background: #222;
  padding: 0px 15px 0px;
  position: relative;
  top: 100px;
  width: 100%;
  border: 2px solid #444;
}

.footer-container {
  margin: 0px auto;
  padding: 0px 15px;
  width: 100%;
}

#main {
  padding: 0 0 0 20;
}

.maintitle {
  font-size: 24px;
  color: #fb6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: #ec8;
  font-weight: bold;

  line-height: 1.7;
  margin: 0px 0px -5px 0px;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  padding: 0px 0px 0px 10px;
  font-size: 20px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
  padding: 0px 0px 0px 10px;
}

h4 {
  font-size: 14px;
  color: #aaa;
}

p {
  padding: 0px 10px 0px 10px;
  font-size: 14px;
}

a {
  color: #9af;
  text-decoration: none;
  cursor: pointer;
  &:hover, &:active {
    color: #9af;
  }
}

hr {
  height: 1px;
  border: 0; 
  border-top: 2px solid #333;
}

ul, ol {
  margin: 5px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-size: 14px;
  font-style: italic;
  color: #888;
  padding: 0 10px 5px 10px;
}

p.category {
  font-size: 14px;
  padding: 0px 10px;
  
  a {
    color: #777;
	&:hover, &:active {
	  color: #9af;
	}
  }
}

.subblog > p {
  padding: 0 10px 10px 10px;
}

.page {
  .text_container:last-of-type p:last-of-type {
    margin-bottom: 15px;
  } 
}

.text_container {
  padding: 5px 10px 10px 10px;
}

// Specify the color of the selection
::-moz-selection {
  color: $white;
  background: #9bf;
}
::selection {
  color: $white;
  background: #9bf;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  border-bottom: 2px solid #444;
  background-color: #222;
  position:absolute;
  top:0px;
  height: 56px;
  width:100%;
  max-width:1920px;
  display:block
}

.masthead-container {
  position:relative;
  padding: 0px 15px;
  max-width: 970px!important;
  margin: auto;
}

.masthead {
  padding: 10px 0px;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  display: inline-block;
  width: 42px;
  height: 42px;
  float: left;
  margin: 7px;
  
  @include mobile {
    float: none;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  color: #aaa;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 24px;
  display: inline-block;
  margin: 7px 0px;
}

.site-description {
  margin: -5px 0 0 0;
  color: #ddd;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

.site-svglinks {
  float: right;
  margin: 7px 0px;
}


.site-navbar {
  display: inline-block;
  font-family: $helveticaNeue;
  font-size: 18px;
  position: relative;
  padding: 15px 65px; 
  vertical-align: baseline;
  
  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }
  ul {
    margin:0; 
	padding:0;
	
    display: inline-block;
    list-style-type: disc;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
	
    li {
	  float:left;
	  list-style:none;
	  display: list-item; 
	  text-align: -webkit-match-parent;

	  a {
		margin-left: 20px;
		text-align: right;
		font-weight: 300;
		letter-spacing: 1px;
		color: #aaa;
		&:hover, &:active {
		  color: #9af;
		}

		@include mobile {
		  margin: 0 10px;
		}
	  }
	}
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 2px solid #444;
}

.posts > .post:last-child {
  padding-bottom: 10px;
  border-bottom: none;
}

.projects > .post {
  td {
    padding-top: 10px;
  }
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  #posts {
	padding: 0px 10px;
  }

  .read-more {
    color: #888;
    font-style: bold;
    padding: 0 0 0 10px;
    font-size: 14px;
    &:hover, &:active {
      color: #9af;
    }
  }
}

p ~ .read-more {
  margin: 0px;
  padding: 0px;
}

.cocos2d {
  padding:12px 0px;
}

.wrapper-footer {
  border-top: 2px solid #333;
  background-color: #222;
  position:fixed;
  left:0px;
  bottom:0px;
  height:52px;
  width:100%;
}

.footer {
  margin: 5px 0 0 0;
  height: 52px;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
 