---
---

//
// IMPORTS
//

@import "variables";
@import "bootstrap";
@import "svg-icons";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  height: 100%;
  font-size: 100%;
} 

body {
  margin: 0px;
  height: 100%;
  background: #171717;
  font: 14px/1.5 "Trebuchet MS", sans-serif;
  color: #ddd;
}

.page {
  padding: 0px 18px;
  width: 100%;
}

.container {
  margin: 0px auto;
  padding: 8px 15px;
  max-width: 1200px!important;
  background: #1d1d1d;
  position: relative;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #444;
}

h2 {
  margin-top: 5px;
}

h3 {
  margin-top: 0px;
}

h4 {
  margin-top: 4px;
}

p + h3 {
  margin-top: 18px;
}

p + h4 {
  margin-top: 16px;
}

p {
  padding: 0px 0px;
  color: #aaa;
}

.indent {
  padding: 0px 4%;
}

.col-sm-3:hover {
  background-color: #1f1f1f;
}

.jumbotron {
  padding: 0px;
  margin: 0px;
  color: #999;
}

.jumbotron > h1  {
  padding: 1% 0px 0px 0px;
  margin: 0px auto;
  font-size: 48px;
}

.jumbotron > p {
  padding: 0px;
  margin: 0px auto;
  font-size: 18px;
}

.container-fluid {
  margin: 0px auto;
  max-width: 900px!important;
}

.navbar {
  padding: 0px;
  border-radius: 0px;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover,  
.navbar-default .navbar-nav>.open>a:visited, {
  color: #999;
  border-color: #333;
  background: transparent;
}

.navbar-default .navbar-nav>li>a {
  color: #ccc;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #999;
}
.navbar-default .navbar-nav>li>a:focus {
  color: #ccc;
}

a {
  color: #5d8fd7;
}

a:hover {
  color: #73aaf7;
  text-decoration: none;
}

.navbar-default {
  font-weight: bold;
  padding: 0px;
  border-radius: 0px;
  border-color: #555;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  background: linear-gradient(#333, #222);
  color: #fff;
}

.collapse.in {
    display: flex;
}
.collapsing {
    display: flex;
}

.navbar-collapse.in {
    overflow-y: hidden;
}

.navbar-header {
  margin: 0px auto;
  padding: 0px 18px;
}

.navbar-brand {
  padding: 4px;
}

@media (max-width: 768px) {
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-top: 1px solid #999;
  }
}

.footer {
  margin: 24px 0px;
  padding: 3px 0px;
  position: absolute;
  width: 100%;
  height: 28px;
  //background-color: #222;
  //border: 1px solid #333;
  //border-bottom: 0px;
  //border-left: 0px;
  //border-right: 0px;
}

.navbar-right {
  margin: 0px auto;  
  display: inline-block;
}

.nav > li {
  float: left;   
}

.list-group-item {
  background: #232323;   
  border-color: #3c3c3c;
}

a.kinder-surprise {
  color: #aaa;
  text-decoration: none;
  cursor: text !important;
}

.no-touch .dropdown:hover .dropdown-menu { 
  display: block;
  margin-top: 0;
  background: #333;
}

.no-touch .dropdown:focus .dropdown-menu {
  display: block;
  margin-top: 2000px;
  background: #333;
 }

.touch .disabled {

}

.dropdown-menu {
  padding: 0px;
  border-color: #444;
  border-top: #333;
}

.dropdown-menu > li {
  margin: 0px;
  background: #222;
  font-size: 14px;
  cursor: default;
}

.dropdown-menu > li > a {
  background: #222;
  color: #aaa;
}

.dropdown-menu > li > a:hover {
  background: #2a2a2a;
  color: #ddd;
}

li.dropdown-header {
  padding-left: 12px;
  border-bottom: 1px;
  color: #ccc;
  border-color: #ccc;
}

.entry-title {
  margin: 0px;
}

.date {
  margin: 0px;
  font-weight: bold;
}
 
.quote {
  margin: 0px;
  font-weight: bold;
}

.flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}

.panel-footer {
  background: #337ab7;
  color: #fff;
}

.panel-body {
  color: #555;
}

.img-responsive {
  margin: auto;   
}

.row {
  padding: 0px 4px;   
}

// Specify the color of the selection
::-moz-selection {
  color: $white;
  background: #9bf;
}
::selection {
  color: $white;
  background: #9bf;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

//
// .main
//

.posts > .post {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 2px solid #444;
}

.posts > .post:last-child {
  padding-bottom: 10px;
  border-bottom: none;
}

.projects > .post {
  td {
    padding-top: 10px;
  }
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  #posts {
	padding: 0px 10px;
  }

  .read-more {
    color: #888;
    font-style: bold;
    padding: 0 0 0 10px;
    font-size: 14px;
    &:hover, &:active {
      color: #9af;
    }
  }
}

p ~ .read-more {
  margin: 0px;
  padding: 4px;
}

.cocos2d {
  padding:12px 0px;
}

.wrapper-footer {
  border-top: 2px solid #333;
  background-color: #222;
  position:fixed;
  left:0px;
  bottom:0px;
  height:52px;
  width:100%;
}

.footer {
  margin: 5px 0 0 0;
  height: 52px;
  text-align: center;
}

.well-wrapper {
  background-color: #111;
  margin: 20px 0px;
  padding: 10px 0px;
}

.well-dark {
  margin: 12px 82px;
  padding: 0px;
  background-color: #2c2c2c;
  border: 1px solid #666;
  overflow: hidden;
}

ul {
  list-style-type: none;
}

.languages {
  margin: 0px;
}

.description {
  margin-top: 10px;
}

.list-group-item {
  margin: -1px 20px -1px 20px;
  .list-group-item:first-of-type {
    margin-top: 20px;
    margin-bottom: -1px;
  }
  .list-group-item:last-of-type {
    margin-top: -1px;
    margin-bottom: 20px;
  }
}

@import "highlights";