<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BibleThump.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{58,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>FrankerZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{64,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{64,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Kappa.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{42,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{42,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>KevinTurtle.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{42,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{42,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Kreygasm.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{38,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{38,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>MVGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{48,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{48,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>emotes.png</string>
            <key>size</key>
            <string>{306,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a25b7349c2f53ad97006f2258911ea2d:129c8521210a20c391a1aff793c611df:d965243b972e567670a5fb1d6ea16f77$</string>
            <key>textureFileName</key>
            <string>emotes.png</string>
        </dict>
    </dict>
</plist>
