<div class="cocos2d" align="center">
  <canvas id="gameCanvas" width="480" height="720"></canvas>
  <script src="/cocos2d.js"></script>
  <noscript>Please enable JavaScript to view this Cocos2D project.</noscript>
</div>

<h4 style="text-align:center;">This game tracks location for use in-game. This data is not stored or used for any other purposes.</h4>
<hr>
<h3>Controls</h3>
<p>Up / Down Arrows - Swap blocks</p>
<p>Left / Right Arrows - Shift block grid position</p>
<p>Shift - Drop block</p>
<p>Escape - Pause</p>
<p>All in-game buttons are useable, and do the same as their arrow counterparts, with shift's counterpart being the bottom right arrow button.<p>
<p>The only exception is high scores, which should be typed with keyboard keys and backspace. (Touch feature not fully implemented)</p>
<hr>