---
layout: default
---

<h1 class="maintitle">{{ page.title }}</h1>
  {{ content }}
<hr>
  
{% for post in site.posts %}
  {% if post.category == page.subblog %}
  <article class="post">
  
    <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
    <div class="date"> {{ post.date | date: "%B %e, %Y" }} </div>
  
    <p>{{ post.excerpt }}</p>
    
    <a href="{{ site.baseurl }}{{ post.url }}#comments"><span class="disqus-comment-count" data-disqus-identifier="{{ post.id }}">0</span> Comments</a>
  </article>
  <br>
  {% endif %}
{% endfor %}
  
{% include disqus.html %}